<nav>
  <div>
    <a [routerLink]="['/']"><span> Awesome Activities</span></a>

    <ul>
      <li
        *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'tourist'"
      >
        <a [routerLink]="['/favorites']">Favorites</a>
      </li>
      <li
        *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'tourist'"
      >
        <a [routerLink]="['/my-activities']">My Activities</a>
      </li>
      <li *ngIf="isAuthenticated$ | async">
        <a [routerLink]="['/profile']">Profile</a>
      </li>
      <li>
        <a
          [routerLink]="['/admin']"
          *ngIf="
            (isAuthenticated$ | async) && (userType$ | async) === 'company'
          "
          >Admin</a
        >
      </li>

      <li *ngIf="!(isAuthenticated$ | async)">
        <a [routerLink]="['/auth']">Login</a>
      </li>
      <li *ngIf="!(isAuthenticated$ | async)">
        <a [routerLink]="['/auth/signup']">Signup</a>
      </li>
      <li *ngIf="isAuthenticated$ | async">
        <a (click)="onLogout($event)">Logout</a>
      </li>
    </ul>
  </div>
</nav>
