<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a [routerLink]="['/']"><span> Awesome Activities</span></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li
        *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'tourist'"
      >
        <a [routerLink]="['/favorites']">Favorites</a>
      </li>
      <li
        *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'tourist'"
      >
        <a [routerLink]="['/my-activities']">My Activities</a>
      </li>
      <li *ngIf="isAuthenticated$ | async">
        <a [routerLink]="['/profile']">Profile</a>
      </li>
      <li>
        <a
          [routerLink]="['/admin']"
          *ngIf="
            (isAuthenticated$ | async) && (userType$ | async) === 'company'
          "
          >Admin</a
        >
      </li>

      <li *ngIf="!(isAuthenticated$ | async)">
        <a [routerLink]="['/auth']">Login</a>
      </li>
      <li *ngIf="!(isAuthenticated$ | async)">
        <a [routerLink]="['/auth/signup']">Signup</a>
      </li>
      <li *ngIf="isAuthenticated$ | async">
        <a href="#" (click)="onLogout($event)">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
