.container-view {
  width: 100%;
  min-height: calc(100vh - 7rem);
  margin: 0 auto;
}

.wrapper {
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 320px;
}

form {
  width: 100%;
  max-width: 320px;
}
