<h3>Favorites List</h3>
<div *ngIf="(favorites$ | async)!.length === 0">
  Please add some activities to favorites
</div>
<table *ngIf="(favorites$ | async)!.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Language</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activity of favorites$ | async">
      <td>{{ activity.name }}</td>
      <td>{{ activity.category }}</td>
      <td>{{ activity.price }}</td>
      <td>{{ activity.language }}</td>
      <td>{{ activity.date | date: "dd/MM/yyyy" }}</td>
      <td>
        <a [routerLink]="['detail', activity.id]">Show</a>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
