mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 250px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 7rem);
}

#logout-button {
  color: white;
  background-color: #16163f;
  border: 1px solid black;
}

#delete-product-button {
  color: white;
  background-color: #145214;
  border: 1px solid black;
}
