<div class="content">
  <h3>Profile</h3>
  <hr />
  <div *ngIf="profile$ | async as profile">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        matInput
        type="text"
        [value]="profile.firstName"
        [readonly]="true"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        type="text"
        [value]="profile.lastName"
        [readonly]="true"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Birthday</mat-label>
      <input
        matInput
        type="text"
        [value]="profile.birthday | date: 'dd/MM/yyyy'"
        [readonly]="true"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput type="text" [value]="profile.phone" [readonly]="true" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nationality</mat-label>
      <input
        matInput
        type="text"
        [value]="profile.nationality"
        [readonly]="true"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>NIF</mat-label>
      <input matInput type="text" [value]="profile.nif" [readonly]="true" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>About</mat-label>
      <textarea
        matInput
        cols="38"
        rows="5"
        [value]="profile.about"
        [readonly]="true"
      ></textarea>
    </mat-form-field>
    <div *ngIf="(profileType$ | async) === 'company'">
      <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input
          matInput
          type="text"
          [value]="profile.companyName"
          [readonly]="true"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Company Description</mat-label>
        <textarea
          matInput
          cols="38"
          rows="5"
          [value]="profile.companyDescription"
          readonly
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CIF</mat-label>
        <input matInput type="text" [value]="profile.cif" readonly />
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [routerLink]="['edit', profile.id]"
    >
      Update
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<app-education></app-education>
