.container-view {
  width: 100%;
  min-height: calc(100vh - 7rem);
  margin: 0 auto;
}
.wrapper {
  padding: 10px;
}
mat-card {
  margin: 20px 0;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
