<div class="container-view">
  <div class="wrapper">
    <div fxLayout="column">
      <h2>Education</h2>
      <button mat-raised-button color="primary" [routerLink]="['add']">
        Add Activity
      </button>
      <div *ngIf="(activities$ | async)!.length > 0">
        <div *ngFor="let activity of activities$ | async">
          <mat-card class="activity">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput disabled [value]="activity.name" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Category</mat-label>
              <input matInput disabled [value]="activity.category" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input
                matInput
                disabled
                [value]="activity.date | date: 'dd/MM/yyyy'"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Price</mat-label>
              <input matInput disabled [value]="activity.price | currency" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Language</mat-label>
              <input
                matInput
                disabled
                [value]="activity.language | uppercase"
              />
            </mat-form-field>
            <div>
              <button
                mat-button
                color="primary"
                [routerLink]="['edit', activity.id]"
              >
                Update
              </button>
              <button mat-button (click)="onDelete(activity.id)">Delete</button>
            </div>
          </mat-card>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
